@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------Custom Scrollbar----------- */
::-webkit-scrollbar{
    width: 10px;
  }
  
  ::-webkit-scrollbar-track{
    background: #ebe2e2;
  }
  
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, #ecebf1 -50%, #e5d8df 50%);
    border-radius: 10px;
  }